<!DOCTYPE html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TicTacToe game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" href="../static/css/fonts.css"/>
</head>
<body>
<div class="container">
    <div class="text-center logo"><h3>Кресты-Нули</h3></div>
    <div class="form-signin">
        <input type="text" id="username" placeholder="Имя пользователя" class="form-control" />
        <br/>
        <button class="btn btn-lg btn-primary btn-block" id="newGame">Новая игра</button>
    </div>

    <div class="gamelist" th:if="${newGames}"!="null" th:each="game: ${newGames}">
        <div class="row">
            <div class="col col-xs-4" th:text="${game.id}">id</div>
            <div class="col col-xs-4" th:text="${game.player}">players</div>
            <div class="col col-xs-4"><button class="btn btn-success connect" th:id="${game.id}">Присоедениться</button></div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/menu.js}" src="../static/js/menu.js"></script>
</body>
</html>